@media (min-width: 1200px) {
/* MENU */
  #superfish-1 {
    float:none;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel ul {
    background: #ccc;
    float:none;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel li {
    display:inline-block;
    float:none;
    margin-right:18px;
    margin-left:18px;
    width: 21%;
    border-top: none;
    border-right: 1px solid #3b3c3e;
    border-left: 1px solid #3b3c3e;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel li:first-child {
    margin-left: 36px;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel a {
    color: #222;
    text-align: center;
    padding:20px;
    font-size: 1.2em;
  } 
  #block-views-browse-lastname-block-2 {
  display:none;
  }

}
@media (min-width: 980px) and (max-width: 1199px) {
  .view-browse-lastname.view-display-id-block_1 > .view-content {
    margin:0px;
  }
  .site-name a {
    right:50px;
    top:70px;
    bottom:0;
  }
  #block-views-browse-lastname-block-2 {
  display:none;
}
/* MENU */
 #superfish-1 {
    float:none;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel ul {
    background: #ccc;
    float:none;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel li {
    display:inline-block;
    float:none;
    margin-right:18px;
    margin-left:18px;
    width: 20%;
    border-top: none;
    border-right: 1px solid #3b3c3e;
    border-left: 1px solid #3b3c3e;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel li:first-child {
    margin-left: 36px;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel a {
    color: #222;
    text-align: center;
    padding:20px;
    font-size: 1.333em;
  } 
  
  .front .article:first-child > .header .node-title {
    font-size: 1em;
    margin-top: 0px;
  }
}
@media (min-width: 720px) and (max-width: 979px) {
  #header {
    background-image: none;
  }
  .site-name {
   font-size: 1.5em;
  }
  .site-name a {
    right:50px;
    top:50px;
    bottom:0;
  }  
  #block-views-browse-lastname-block-2 {
  display:block;
}
  .view-browse-lastname.view-display-id-block_1 > .view-content > span.views-summary > a {
    font-size: 1.5em;
  }
  #menu-bar-wrapper .block .sf-menu.sf-style-hotel li {
    float: none;
    border-top: 1px solid #3b3c3e;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel a {
    color: #3b3c3e;
  }
  .front .article:first-child > .header .node-title {
    font-size: 1em;
    margin-top: 0px;
  }
}
@media (max-width: 719px) {
  #header {
    background-image: none;
  }
  #logo img {
    width: 100px;
  }
  .site-name {
    font-size: 1.5em;
  }
  .site-name a {
    margin-left: 20px;
    right:50px;
    top:24px;
    bottom:0;
  }
    #block-views-browse-lastname-block-2 {
  display:block;
}
  .view-browse-lastname.view-display-id-block_1 > .view-content > span.views-summary > a {
    font-size: 1.5em;
  }
  .view-browse-lastname.view-display-id-block_1 > .view-content {
    margin:0px;
  }
  .front .article:first-child > .header .node-title {
    font-size: 1.2em;
    margin-top: 0px;
  }
}
@media (max-width: 479px) {
  .visible-xs {
    display:block;
  }
  .hide-xs {
    display:none;
  }
  #header {
    min-height: 40px;
  }
  .flex-caption a {
    background-color: #ccc;
    top: auto;
    max-width: 100%;
    position: relative;
    display: block;
  }
}