body {
  background: #3b3c3e;
  color: #3b3c3e;
  font-family: "Myriad Pro", Myriad, Arial, Helvetica, sans-serif;
}

a {
  color: #065288;
}
a:focus, 
a:hover, 
a:active {
  color: #065288;
  text-decoration: underline;
}


#logo { margin-left: 10px; }

.article ul.links li a:hover,
.article ul.links li a:active,
.article ul.links li a:focus {
  text-decoration: underline;
}

.article ul.links li {
  border-right-color: #0064b1;
}

.wrapper .container {
  background: #fff;
  margin-bottom: 0;
  margin-top: 0;
}

input,
textarea,
select {
  -webkit-border-radius: 3px;
  background: #fff;
  border: 1px solid #e5e5e5 !important;
  border-radius: 3px;
  color: #4f4f4f;
}

fieldset,
html.js fieldset.collapsed {
  border-color: #e5e5e5;
}

html.js fieldset.collapsible .fieldset-legend {
  background-image: url(images/arrow-5.gif);
}

html.js fieldset.collapsed .fieldset-legend {
  background-image: url(images/arrow-6.gif);
}

.front .article:first-child .menu {
  margin-top: 1.4em;
}

#main-content > .grid-inner {
  background: none;
  padding-left: 25px;
}

#main-content {
  margin-top: 0;
}

#page-title,
.availability-title h2 {
  color: #222;
}

#menu-bar-wrapper .grid-inner {
  padding: 0;
}

#menu-bar-wrapper .region-menu-bar {
  background: #ccc;
}

#menu-bar-wrapper .sf-menu.sf-style-hotel a {
  color: #3b3c3e;
}

#menu-bar-wrapper .sf-menu.sf-style-hotel a.active,
#menu-bar-wrapper .sf-menu.sf-style-hotel .active-trail .sf-depth-1 {
  background: #ccc;
  color: #065288;
}

#menu-bar-wrapper .sf-menu.sf-style-hotel ul {
  background: #ccc;
  margin-top: 4px;
  float:none;
}

#menu-bar-wrapper .sf-menu.sf-style-hotel ul li {
  border-top: 1px solid #fbaa40;
}

#menu-bar-wrapper .sf-menu.sf-style-hotel ul li:first-child {
  border-top: none;
}

#menu-bar-wrapper .sf-menu.sf-style-hotel ul li a {
  color: #fff !important;
  font-size: 1em;
}

#menu-bar-wrapper .sf-menu.sf-style-hotel li.sfHover > a,
#menu-bar-wrapper .sf-menu.sf-style-hotel a:hover,
#menu-bar-wrapper .sf-menu.sf-style-hotel a:focus,
#menu-bar-wrapper .sf-menu.sf-style-hotel a:active {
  background: #fff;
  color: #3b3c3e;
}
#menu-bar-wrapper .sf-menu.sf-style-hotel ul li.sfHover > a,
#menu-bar-wrapper .sf-menu.sf-style-hotel ul li a:hover,
#menu-bar-wrapper .sf-menu.sf-style-hotel ul li a:focus,
#menu-bar-wrapper .sf-menu.sf-style-hotel ul li a:active,
#menu-bar-wrapper .sf-menu.sf-style-hotel ul li a.active {
  background: #df7f00;
  color: #fff !important;
}

#menu-bar-wrapper .sf-menu.sf-style-hotel ul ul { background: #df7f00; margin: 0; }
#menu-bar-wrapper .sf-menu.sf-style-hotel ul ul li a { background: none; }
#menu-bar-wrapper .sf-menu.sf-style-hotel ul ul li a:hover { background: #0064b1 }

#secondary-menu ul li a {
  color: #222;
}

#header-wrapper .block-menu ul.menu li,
#secondary-menu ul li {
  background-image: url(images/bg-line.gif);
}

#header-wrapper .block-menu ul.menu li a {
  color: #222;
}

#secondary-menu ul li a:hover,
#secondary-menu ul li a:focus,
#secondary-menu ul li a:active,
#header-wrapper .block-menu ul.menu li a:hover,
#header-wrapper .block-menu ul.menu li a:focus,
#header-wrapper .block-menu ul.menu li a:active {
  color: #0064b1;
  text-decoration: none;
}


.block ul.menu li.active-trail > a,
.block ul.menu li > a.active,
#header-wrapper .block-menu ul.menu li > a.active {
  color: #0064b1;
}

#header-wrapper .block p {
  color: #222;
}

ul.primary {
  border-color: #e5e5e5;
}

ul.primary li a {
  background: #e5e5e5;
  border-color: #e5e5e5;
}

ul.primary li a:hover,
ul.primary li a:active,
ul.primary li a:focus,
ul.primary li.active a {
  background: #0064b1;
  border-color: #0064b1;
}

.block-search {
  -webkit-border-radius: 3px;
  background: #fff;
  border-color: #e5e5e5;
  border-radius: 3px;
}

#header #search-block-form .form-text {
  border: none !important;
  color: #4f4f4f;
}

#header #search-block-form .form-submit {
  background-image: url(images/ico-search.png);
  border: none !important;
}

#footer-wrapper .container {
  border-top: 1px solid #d4e4e7;
  padding: 0 0 10px 0;
   background: #fff;
}

#breadcrumb-wrapper ol li a:hover,
#breadcrumb-wrapper ol li a:active,
#breadcrumb-wrapper ol li a:focus {
  color: #0064b1;
}

#footer-wrapper .grid-inner {
  padding: 0;
}

#footer {
  border: none;
  color: #222;
  padding: 10px 15px 0 15px;
  background: #ccc;
}

.contact-info .tel,
.contact-info .email-address {
  background-image: url(images/ico-tel.gif);
}

.contact-info .tel {
  background-position: 0 -14px;
}

#breadcrumb-wrapper {
  background: #e1eaec;
  border-bottom: 1px solid #d4e4e7;
  margin: 0;
  padding: 10px 15px;
}

#breadcrumb-wrapper h2 {
  color: #222;
}

#breadcrumb-wrapper ol li span {
  background-image: url(images/arrow-6.gif);
}

.sidebar .block-title {
  color: #222;
}

.sidebar .block {
  background: none;
  margin-top: 0;
}

#sidebar-first-wrapper > .grid-inner {
  border-right: 1px solid #e5e5e5;
}

.block-rooms-booking-manager .form-item label {
  color: #222;
}

.form-item .description,
fieldset .description,
.fieldset-layout-settings dd {
  color: #666;
}

span.form-required,
span.marker {
  color: #0064b1;
}

.block-rooms-booking-manager span.button input.form-submit {
  border: none !important;
  color: #0064b1;
}

.block-rooms-booking-manager span.button input.form-submit:hover,
.block-rooms-booking-manager span.button input.form-submit:focus {
  background: none;
  color: #0064b1;
  text-decoration: underline;
}

.block-locationmap .block-inner {
  background: none;
}

#panel-second-wrapper .panel-column-first > .grid-inner {
  border-right: 1px solid #e5e5e5;
}

div#panel-second-wrapper div.grid-25 {
	padding-bottom:20px;
}

.block-title {
  color: #222;
}

#panel-second-wrapper .container {
  border-top: 1px solid #e5e5e5;
}

#panel-second-wrapper .panel-column-last .block-inner {
  background: none;
}

.front .accommodation-list .views-field-title {
  left: 2px;
  width: 217px;
}

.jcarousel-skin-default .jcarousel-prev-horizontal,
.jcarousel-skin-default .jcarousel-prev-horizontal:hover,
.jcarousel-skin-default .jcarousel-prev-horizontal:focus,
.jcarousel-skin-default .jcarousel-next-horizontal,
.jcarousel-skin-default .jcarousel-next-horizontal:hover,
.jcarousel-skin-default .jcarousel-next-horizontal:focus {
  background-image: url(images/btn-controls.png);
}

.front .article:first-child > .header {
  background-image: url(images/bg-title.gif);
  color: #222;
}

.front .node-title a,
.front .node-title a:visited {
  color: #222;
}

.front .node-title a:hover,
.front .node-title a:active,
.front .node-title a:focus {
  color: #0064b1;
}

.front #main-content > .grid-inner {
  padding-left: 25px;
  padding-right: 25px;
}

.article > .submitted {
  color: #666;
}

.front .article .menu {
  margin-top: 1.6em;
}

.block-inner {
  padding: 15px;
}

.not-front #sidebar-first-wrapper .block-inner {
  border-top: 1px solid #e6e6e6;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

.not-front #sidebar-first-wrapper .block:first-child .block-inner {
  border-top: none;
}

#sidebar-second-wrapper.sidebar > .grid-inner {
  border-left: 1px solid #e5e5e5;
  border-right: none;
}

#sidebar-second-wrapper.sidebar .block-inner {
  padding: 15px !important;
}

#sidebar-second-wrapper .views-slideshow-cycle-main-frame,
#sidebar-second-wrapper .views_slideshow_cycle_slide,
#sidebar-second-wrapper .views_slideshow_cycle_slide img {
  height: 270px !important;
  overflow: hidden;
  width: 229px !important;
}

.accommodation-list .views-field-field-images img,
.article .field-type-image img,
.photo-galleries .views-field-field-avatar img,
.photo-galleries .views-field-field-images img,
.galleryformatter-greenarrows .gallery-thumbs li img,
.galleryformatter .gallery-slides,
.ui-accordion .views-field-field-images img,
.page-booking .block-content .field-type-image img {
  border: 1px solid #ccc;
  padding: 1px;
}

.accommodation-list .views-row,
.node-teaser {
  background: none;
  border-bottom: 1px dotted #ccc;
}

.node-title,
.node-title a,
.node-title a:visited,
.node-title a:hover {
  color: #0064b1;
}

.front .article {
  border-bottom: none;
}

table,
tr.even td,
tr.odd td {
  border-color: #e5e5e5;
}

th {
  background: #bc8b3d;
}

.fc-header-title h2 {
  color: #0064b1;
}

.fc-state-disabled,
.fc-state-disabled .fc-button-inner {
  background-color: #0064b1;
  border-color: #0064b1;
}

.fc-border-separate th,
.fc-border-separate td {
  border-color: #e5e5e5;
}

.fc-state-highlight {
  background-color: #0064b1 !important;
}

.fc-event-inner,
.fc-event {
  background: #d6d6d6 !important;
  border-color: #d6d6d6 !important;
  color: #444;
}

.photo-galleries .views-field-title a {
  color: #222;
}

.photo-galleries .views-field-title a:hover,
.photo-galleries .views-field-title a:focus,
.photo-galleries .views-field-title a:active {
  color: #0064b1;
}

.galleryformatter-greenarrows .gallery-thumbs .back,
.galleryformatter-greenarrows .gallery-thumbs .forward {
  background-image: url(images/btn-controls.png);
}

.galleryformatter-greenarrows .gallery-thumbs .back:hover {
  background-position: 0 -89px;
}

.galleryformatter-greenarrows .gallery-thumbs .forward:hover {
  background-position: -20px -89px;
}

#comments,
.field-type-text-long fieldset {
  border-color: #e5e5e5;
}

.resizable-textarea .grippie {
  background: #e5e5e5;
  border-color: #e5e5e5;
}

span.button input.form-submit {
  background: #0064b1;
  border-color: #0064b1;
  border-radius: 0;
}

span.button input.form-submit:hover,
span.button input.form-submit:focus {
  background: #222;
  border-color: #222;
  color: #fff;
}

.article ul.links li.comment-add a {
  color: #0064b1;
}

.comment {
  background-color: #f2f2f2;
}

.comment-title a:hover,
.comment-title a:focus,
.comment > .footer a:hover,
.comment > .footer a:focus,
.article ul.links li a:hover,
.article ul.links li a:focus {
  color: #0064b1;
}

.ui-accordion .ui-accordion-content {
  padding-left: 10px;
  padding-right: 10px;
}

.ui-accordion .ui-accordion-header a,
.ui-accordion .ui-state-active a {
  color: #0064b1;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border-color: #ccc;
}

.ui-widget-content {
  color: #222;
}

.ui-state-default .ui-icon {
  background-image: url(images/arrow-6.gif);
}

.ui-state-active .ui-icon {
  background-image: url(images/arrow-5.gif);
}

.page-booking #main-content .block-content {
  border-color: #e5e5e5;
}

.page-booking .unit_price,
.page-booking #main-content .block-content .entity h2 {
  color: #0064b1;
}

.page-booking #main-content .block-content form {
  border-color: #e5e5e5;
}

.page-booking #main-content .block-content > h2 {
  background-color: #bc8b3d;
  background-image: url(images/arrow-3.png);
  color: #fff;
}

.commerce-order-handler-area-order-total .commerce-price-formatted-components,
.field-name-commerce-order-total .commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount {
  background: #bc8b3d;
}

fieldset legend,
.checkout-review .pane-title,
.field-name-commerce-customer-billing h3.field-label {
  color: #0064b1;
}

.checkout-help {
  color: #222;
}

#system-messages-wrapper .container {
  background: none;
}

#system-messages-wrapper .grid-inner,
#slideshow-wrapper .grid-inner {
  padding: 0;
}

#slideshow-wrapper  .views-field-field-slideshow-image img {
  width: 1000px !important;
}

.slideshow-group-fields-wrapper {
  width: 650px;
}

.front #slideshow-wrapper .container {
  margin-bottom: 0;
}

.photo-galleries .grid-inner {
  padding: 0 12px;
}

.node-type-photo-galleries #main-content > .grid-inner {
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.galleryformatter .prev-slide {
  left: 0;
}

.galleryformatter .next-slide {
  right: 0;
}

.sidebar .block-custom-banners .block-inner {
  padding: 20px 15px !important;
}

.block-custom-banners .views-slideshow-cycle-main-frame {
  margin: 0 auto;
}

.block-custom-banners .views-field-field-images img {
  height: auto;
  max-width: 230px;
}

.contact-list dt {
  color: #000;
}

#user-login .description a:hover,
#user-login .description a:focus {
  color: #0064b1;
}

#main-content #user-login span.button input.form-submit:hover,
#main-content #user-login span.button input.form-submit:focus,
#user-pass span.button input.form-submit:hover,
#user-pass span.button input.form-submit:focus,
#user-register-form span.button input.form-submit:hover,
#user-register-form span.button input.form-submit:focus {
  background: #222;
  color: #fff;
}

#user-login .item-list li a:hover,
#user-login .item-list li a:active,
#user-login .item-list li a:focus,
#user-pass .item-list li a:hover,
#user-pass .item-list li a:active,
#user-pass .item-list li a:focus,
#user-register-form .item-list li a:hover,
#user-register-form .item-list li a:active,
#user-register-form .item-list li a:focus {
  color: #0064b1;
}

#main-content #user-login span.button input.form-submit:hover,
#main-content #user-login span.button input.form-submit:focus,
#user-pass span.button input.form-submit:hover,
#user-pass span.button input.form-submit:focus,
#user-register-form span.button input.form-submit:hover,
#user-register-form span.button input.form-submit:focus {
  background: #222;
  color: #fff;
}

.tb-sf-navbar #menu-bar-wrapper .grid-inner {
  background: #0064b1;
  margin: 0;
}

.sf-menu.sf-style-hotel.sf-navbar ul li a {
  color: #fff !important;
}

.sf-menu.sf-style-hotel.sf-navbar ul li a:hover,
.sf-menu.sf-style-hotel.sf-navbar ul li a:focus,
.sf-menu.sf-style-hotel.sf-navbar ul li a:active,
.sf-menu.sf-style-hotel.sf-navbar ul li .active {
  color: #553000 !important;
}

.support-content dt {
  color: #0064b1;
}

ul.pager li a {
  background-color: #d4e4e7;
}

ul.pager li a:hover,
ul.pager li a:active,
ul.pager li a:focus {
  background-color: #0064b1;
}

.item-list ul.pager li.pager-current {
  color: #0064b1;
}

.language-switcher-locale-url li a{ color:#404040; }
.language-switcher-locale-url li a:hover, .language-switcher-locale-url li a.active { color:#0064b1; text-decoration: none; }
.region-header .block-title { color:#404040; }
#header-wrapper .block-menu ul.menu li, #secondary-menu ul li { background: none; }

/* menu */
.block .sf-menu.sf-style-hotel a { color:#000;}

#footer-bottom-wrapper .container { border-top: 1px solid #e5e5e4;  }
#footer-bottom { border: none; padding-left: 15px; padding-right: 15px; padding-top: 10px; }

#block-views-slideshow-block--2 .block-inner, .block-custom-banners .block-inner { padding: 15px; }
#block-views-slideshow-block--2 .block-inner img, .block-custom-banners .block-inner img { max-width: 100%; }

#sidebar-first-wrapper .views-slideshow-cycle-main-frame-row,
#sidebar-first-wrapper .views-slideshow-cycle-main-frame { width: 100% !important; }

th { background: #555; }

#footer .jcarousel-skin-default .jcarousel-next-horizontal, #footer .jcarousel-skin-default .jcarousel-next-horizontal:hover, #footer .jcarousel-skin-default .jcarousel-next-horizontal:focus { background-position: -19px 0;}

#footer .jcarousel-skin-default .jcarousel-prev-horizontal, #footer .jcarousel-skin-default .jcarousel-prev-horizontal:hover, #footer .jcarousel-skin-default .jcarousel-prev-horizontal:focus { background-position: 0 0; }

.ui-widget-content a, .ui-helper-reset small a { color:#0064b1 !important; }
.ui-widget-content a:hover { color:#0064b1; text-decoration: underline }

/* menu */
#footer-bottom .menu li { border-color: #E5E5E4; }

.sidebar .view-newsflash .views-row { background: none; border-bottom: 1px dotted #CCCCCC }
.sidebar .view-newsflash .views-row-last { border: none; }
.sidebar .view-newsflash .views-field-field-image img { border: 1px solid #ccc; padding: 1px; } 
.not-front #slideshow-wrapper, #menu-bar-wrapper { margin-bottom: 0; }

.ui-accordion .ui-accordion-header a:hover { color: #333; }

/* CUSTOM  */
h1 {
  font-family: 'Fira Sans', sans-serif;
}
h2 {
  font-size: 1.2em;
  font-family: 'Fira Sans', sans-serif;
}
.region-menu-bar {
  font-family: 'Fira Sans', sans-serif;
}
.grid-inner {
  padding:0px;
}
#main-content > .grid-inner {
  padding-top: 25px;
}
.hangingIndent > p {
  text-indent: -28px;
  padding-left: 28px;
  margin-bottom: 2em;
}

.hangingIndent > p:last-child {
	margin-bottom: 0
}

.pull-right {
  float: right; 
}
/* HEADER */
#logo img {
  margin:20px;
  width: 150px;
}
#header {
  background-color: #005E99;
  background-image: url("images/Celelabrating2.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.site-name {
  font-size: 2.333em;
}
.site-name a {
  color:#fff;
  /*text-transform: uppercase;*/
  z-index:10;
  position: absolute;
  bottom:10px;
  right:20px;
}
.site-name a:focus, 
.site-name a:hover,
.site-name a:active {
  text-decoration: none;
}
#name-and-slogan {
  float:right;
  margin-right: 20px;
}
.front .article:first-child > .header {
  background-image: url("images/divider4.png");
}
#menu-bar-wrapper .region-menu-bar {
  min-width: 200px;
}
/* FRONT */
.flexslider {
  margin:0px 0px;
  border:none;
}
.flex-caption a {
  color:#065288;
  text-decoration: none;
  background-color: rgba(204,204,204,0.8);
  padding: 12px 10px 10px 10px;
  z-index: 10;
  top:40px;
  position: absolute;
  font-size: 1.333em;
  max-width: 350px;
  font-family: 'Fira Sans', sans-serif;
}
.flex-caption a::after {
  content: url(images/carrot-from-hell.png);
  display: inline-block;
  padding-left: 5px;

}
.flex-direction-nav a {
  height: 48px;
}
.front .article:first-child > .header .node-title {
  font-size: 1.2em;
  margin-top: -10px;
  margin-bottom: 5px;
}
.rsvp {
  float:right;
}
.rsvp::before {
  content: url(images/rsvp2.png);
  display: inline-block;
  padding-right: 5px;
}

#books img, .book-img img {
  max-height: 200px;
  width:auto;
  border: 1px solid #3b3c3e;
}

/*BROWSE BY LAST NAME */
#block-views-browse-lastname-block-2 {
  display:none;
}

.view-browse-lastname.view-display-id-block_1 {
  margin: 0 5px;
}
.view-browse-lastname.view-display-id-block_1 > .view-content, 
.view-browse-lastname.view-display-id-block_2 > .view-content {
  padding: 15px;
}

/* A-Z List */
.view-browse-lastname.view-display-id-block_1 > .view-content > span.views-summary > a,
.view-browse-lastname.view-display-id-block_2 > .view-content > span.views-summary > a {
  text-decoration: none;
  font-size: 1.666em;
  background-color: #fff;
  border-radius: 36px;
  padding: 5px 10px 0 10px;
}
.view-browse-lastname.view-display-id-block_1 > .view-content > span.views-summary > a.active, 
.view-browse-lastname.view-display-id-block_1 > .view-content > span.views-summary > a:hover, 
.view-browse-lastname.view-display-id-block_1 > .view-content > span.views-summary > a:focus,
.view-browse-lastname.view-display-id-block_2 > .view-content > span.views-summary > a.active, 
.view-browse-lastname.view-display-id-block_2 > .view-content > span.views-summary > a:hover, 
.view-browse-lastname.view-display-id-block_2 > .view-content > span.views-summary > a:focus {
  background-color: #005E99;
  color: #fff;
}

/*.front .article:first-child > .header .node-title {
  font-size: 1.2em;
} */

#page-title {
  font-size: 1.7em;
  padding-bottom: 10px;
  }
.view-display-id-page > .field-content > a {
  text-decoration: none;
  color: #3b3c3e;
}
.sidebar .block-title {
  font-size: 1.2em;
}
.item-list ul li {
  background: none;
}
/*.dept-link > a, 
.views-field-title > a {
  font-size: 1.2em; 
  text-decoration: none;
  color: #3b3c3e;
} */
.faculty-name {
  margin:0;
  font-size: 1.7em;
}
.faculty-az {
  margin-bottom:0;
}
.faculty-row, 
.creative-row {
  margin-bottom: 2em;
}
.views-field-field-department {
  margin-bottom: .5em;
}
.avatar {
  display:block;
  width:100px;
}
.img-scale {
  max-height: 100px;
  height:auto;
  overflow: hidden;
}
.external-link::after {
  content: url(images/external-link.png);
  display: inline-block;
  padding-left: 5px;
}
.pdf-link::after {
  content: url(images/pdf.png);
  display: inline-block;
  padding-left: 5px;
}


.no-separator {
  margin-top: -15px;
}
.field-collection-view, 
.field-collection-container {
  border-bottom:none;
}
.not-front #sidebar-first-wrapper .block-inner {
  margin-right: 0px;
  margin-left: 0px;
}
.visible-xs {
  display: none;
}
#child-terms {
  margin-top: 1em;
}
.taxonomy-term-description p {
  margin-top: -20px;
  margin-bottom: 20px;
}
.view-browse-lastname {
  margin-top: 5px;
}
/* FOOTER */
#footer {
  margin-top: 1em;
}
#footer-wrapper .container {
  background-color: #ccc;
  font-size: 0.866em;
}
.region-footer p {
  float:right;
  margin-bottom: 0px;
}


/* FOR MAINTENANCE MODE */

body.maintenance-page div#page {
	max-width:1200px;
	margin:auto;
}
body.maintenance-page div#header {
	min-height: 120px;
}
body.maintenance-page h1#site-name {
	    font-family: 'Fira Sans', sans-serif;
		font-size: 3.3em;
}
body.maintenance-page h1#site-name a{
	color:#ffffff;
	color: #FFF;
	z-index: 10;
	position: absolute;
	bottom: 10px;
	right: 20px;
}
body.maintenance-page h1#page-title {
	    color:#ffffff;
}
body.maintenance-page #footer {
	display:none;	
}
body.maintenance-page div#content-content {
	color:#ffffff;
	font-size: 1.8em;
}
body.maintenance-page div#content-content a {
	color:#ffffff;
	text-decoration:underline;
}

@media (min-width: 1200px) {
/* MENU */
  #superfish-1 {
    float:none;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel ul {
    background: #ccc;
    float:none;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel li {
    display:inline-block;
    float:none;
    margin-right:18px;
    margin-left:18px;
    width: 21%;
    border-top: none;
    border-right: 1px solid #3b3c3e;
    border-left: 1px solid #3b3c3e;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel li:first-child {
    margin-left: 36px;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel a {
    color: #222;
    text-align: center;
    padding:20px;
    font-size: 1.2em;
  } 
  #block-views-browse-lastname-block-2 {
  display:none;
  }

}
@media (min-width: 980px) and (max-width: 1199px) {
  .view-browse-lastname.view-display-id-block_1 > .view-content {
    margin:0px;
  }
  .site-name a {
    right:50px;
    top:70px;
    bottom:0;
  }
  #block-views-browse-lastname-block-2 {
  display:none;
}
/* MENU */
 #superfish-1 {
    float:none;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel ul {
    background: #ccc;
    float:none;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel li {
    display:inline-block;
    float:none;
    margin-right:18px;
    margin-left:18px;
    width: 20%;
    border-top: none;
    border-right: 1px solid #3b3c3e;
    border-left: 1px solid #3b3c3e;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel li:first-child {
    margin-left: 36px;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel a {
    color: #222;
    text-align: center;
    padding:20px;
    font-size: 1.333em;
  } */
  .front .article:first-child > .header .node-title {
    font-size: 1em;
    margin-top: 0px;
  }
}
@media (min-width: 720px) and (max-width: 979px) {
  #header {
    background-image: none;
  }
  .site-name {
   font-size: 1.5em;
  }
  .site-name a {
    right:50px;
    top:50px;
    bottom:0;
  }  
  #block-views-browse-lastname-block-2 {
  display:block;
}
  .view-browse-lastname.view-display-id-block_1 > .view-content > span.views-summary > a {
    font-size: 1.5em;
  }
  #menu-bar-wrapper .block .sf-menu.sf-style-hotel li {
    float: none;
    border-top: 1px solid #3b3c3e;
  }
  #menu-bar-wrapper .sf-menu.sf-style-hotel a {
    color: #3b3c3e;
  }
  .front .article:first-child > .header .node-title {
    font-size: 1em;
    margin-top: 0px;
  }
}
@media (max-width: 719px) {
  #header {
    background-image: none;
  }
  #logo img {
    width: 100px;
  }
  .site-name {
    font-size: 1.5em;
  }
  .site-name a {
    margin-left: 20px;
    right:50px;
    top:24px;
    bottom:0;
  }
    #block-views-browse-lastname-block-2 {
  display:block;
}
  .view-browse-lastname.view-display-id-block_1 > .view-content > span.views-summary > a {
    font-size: 1.5em;
  }
  .view-browse-lastname.view-display-id-block_1 > .view-content {
    margin:0px;
  }
  .front .article:first-child > .header .node-title {
    font-size: 1.2em;
    margin-top: 0px;
  }
}
@media (max-width: 479px) {
  .visible-xs {
    display:block;
  }
  .hide-xs {
    display:none;
  }
  #header {
    min-height: 40px;
  }
  .flex-caption a {
    background-color: #ccc;
    top: auto;
    max-width: 100%;
    position: relative;
    display: block;
  }
}